.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  display: block;
  margin-bottom: 0%;  
  
}
.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(55, 59, 59);
}
.navbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
}
.navbar li:hover {
  background-color: black;
}
.navbar li :active{
  background-color:rgb(177, 207, 234);
  color:rgb(12, 10, 10);
}

.serbar{
 float:right;
}
.search{
  width: max-content;
}

.button{
  background-color: rgb(152, 184, 212); 
}


.sidebaritem ul {
  list-style-type: none;
  margin-left: 0px;
  border-radius: 14px;
  border : 1px solid black ;
  /* margin: 0px; */
  padding: 0px;
  overflow: hidden;
  background-color: rgb(239, 245, 245);
  width : 20%;
  height: 100%;
  position:fixed;
}
.sidebaritem  li {
  float: none;
  display: block;
  color: rgb(13, 12, 12);
  text-align: center;
  padding: 15px;
}
.sidebaritem li:hover{
background-color: #282c34;
color:aliceblue;
}
 
.cont{
  float:right; 
  width:70%;
}
