.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar a{
  text-decoration: none;
  color: aliceblue;
}
.navbar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(55, 59, 59);
  position: fixed;
  top:0;
  width:100%;
}
.navbar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
}
.navbar li:hover {
  background-color: black;
}


.serbar{
 float:right;
}
.search{
  width: max-content;
}

.button{
  background-color: rgb(152, 184, 212); 
}


/* .sidebaritem{
  float :left;
  margin: 0px;
} */
/* .sidebaritem ul {
  list-style-type: none;
  top :72px;
  border-radius: 14px;
  border : 1px solid black ;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(239, 245, 245);
  width : 20%;
  height: 100%;
  position:fixed;
} */
.sidebaritem  li {
  float: none;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
}

.sidebaritem li:hover{
background-color: #282c34;
border-left: 10px solid rgb(36, 88, 232);
color:rgb(78, 142, 215);
}
.sidebaritem a{
  text-decoration: none;
}

.main-cont{
  text-align: center;
  
}

.log{
  text-align: center;
  border :3px solid rgb(32, 168, 231);
  border-radius: 30px;
  width: max-content;
  padding: 75px;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px; 
  font-size: 18px;
}

